---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

import FiltroAutores from '../components/vue/FiltroAutores.vue';

const autores = await getCollection("autores");

const items = autores;
---

<Layout title="Autores Chilenos">
  <h1 class="text-3xl font-bold mb-8 text-center">Personajes Chilenos</h1>

  <FiltroAutores client:load items={items} />

</Layout>
